*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    align-items: center;
}
.buy{
    background-color: rgb(5, 136, 243);
    width: 100px;
    margin-right: 5px;
    padding: 3px;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 10px;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    cursor: pointer;
    margin-left: 10px;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: center;
}
button a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
}
nav .icon{
    width: 20px;
    margin-right: 5px;
}
nav .search-bar{
  width: 100%;
}
nav ul .search{
    padding: 3px 5px;
    outline: 0;
    border-radius: 5px;
    width: 400px;   
}
nav ul .glass{
    width: 18px;
    position: absolute;
    margin-left: 370px;
    margin-top: 4px;
}
.Data{
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #0dc9d3;
  position: relative;
  height: 40px;
  justify-content: space-evenly;
}
.Data a{
font-weight: bolder;
font-size: larger;
text-decoration: none;
color: whitesmoke;
}
.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  justify-content: center;
  
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  width: 100px;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 260px;
  display: none;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

.auto-btn1, .auto-btn2, .auto-btn3, .auto-btn4 {
  background: #40d3dc;
}
